<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Create Your Party</h5>
            <p class="card-text">Enter party details to create your party.</p>
            <textarea class="Guest" id="partyguests" rows="3"></textarea>
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>