<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Create Your Party</h5>
          <p class="card-text">Enter party details to create your party.</p>
            <div class="form-group d-flex justify-content-center align-items-center"></div>
                <label>Name:</label>
                <textarea class="name" id="name" rows="1"></textarea>
                <label>Description:</label>
                <textarea class="description" id="description" rows="5"></textarea>
                <label>Creator's Email:</label>
                <textarea class="creatorEmail" id="creatorEmail" rows="1"></textarea>
                <label>Creator's Password:</label>
                <textarea class="creatorPassword" id="creatorPassword" rows="1"></textarea>
                <label>Party Password:</label>
                <textarea class="userPassword" id="userPassword" rows="1"></textarea>
              <button type="submit" class="btn">Create Party</button>
            </div>
        </div>
    </div>