<main class="header-img">Party Planner</main>
    <div class="container">
        <h1 class="title">Claim Items</h1>
            <p class="text">Claim items, from the list below, which you would like to volunteer to bring to the party.</p>
                <label>Guest Name:</label>
                <textarea class="claim" id="claimRequests" rows="3"></textarea>
            <ul>
                {{#each requests}}
                    {{#unless claimed}}
                        <span><strong> {{this.id}} - {{this.request}} </strong></span>
                        <button type="button" class="claim btn" id="claimButton" data-id="{{requests}}">Claim</button>
                    {{/unless}}
                {{/each}}
            </ul>
    <a href="/"><button type="button" class="btn" id="submitRequestButton">Submit</button></a>
</div>
</div>