<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Claim Requests</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Claim Party Requests</h5>
            <p class="card-text">Please select, from the list below, those items you wish to volunteer to bring to the party.</p>
        {{!-- insert checkbox list here--}}
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>

	{{{ body }}}
</body>
</html>