<main class="header-img">Party Planner</main>
    <div class="container">
        <h1 class="title">Party Guests</h1>
            <p class="ext">Here's a list of those that have RSVP'd and what they would like.</p>
            <ul>
                {{#each request}}
                        <li><strong> {{dataValues.guest}} - {{dataValues.request}} </strong></li>
                {{/each}}
            </ul>
        <a href="/" class="btn" id="logout">Back to Home Page</a>
    </div>
