<div class="head">

<div class="jumbotron">
  <h1 class="display-4">Party Time!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Select a party below and enter the password you were given by the host.</p>
  <a class="btn btn-primary btn-lg" id="newPartyButton" href="views/partials/create.handlebars" role="button">Create a Party</a>
</div>

<div class="row d-flex justify-content-center align-items-center">
    <div class="container partyList jumbotron">
        <div class="row d-flex justify-content-center align-items-start ">
            <div class="col-md-6">
                <h4>"Select Your Party!"</h4>
                <ul>
                    {{#each parties}}
                    {{#unless finalized}}
                    <p>{{name}} <button type="submit" class="select btn btn-primary" id="selectNewPartyButton"
                            data-id="{{id}}">Select</button></p>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <h4>"Finalized Parties"</h4>
                <ul>
                    {{#each parties}}
                    {{#if finalized}}
                    <p>{{name}}
                        <button type="submit" class="select btn btn-primary" id="selectFinalizedPartyButton"
                            data-id="{{id}}">Select</button></p>

                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>