<main class="header-img">Party Planner</main>
     <div class="container">
        <h1 class="title">Request Items for {{dataValues.name}} Party</h1>
            <p class="text">Please enter any game, activity, craft, snack, and/or beverage ideas or requests you may have for the party.</p>
                <div id='guestInput'>
                    <label>Guest Name:</label>
                    <textarea class="Guest" id="guest" rows="1" name="guest"></textarea>
                    </br>
                    <label>Guest Request:</label>
                    <textarea class="Guest" id="request" rows="3" name='request'></textarea>
                    </br>
                    <button type = 'button' class="btn btn-primary" id="submitRsvpButton">Submit</button>
                    <input type = 'hidden' value="{{dataValues.id}}" id = 'id'>
                    </br>
                    <button type='button' class='btn btn-primary' id="planner">Planner Enter Here</button>
                </div>

                {{!-- Login --}}
                <div style='display:none' id='creatorInput'>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div>
                    <button type="button" class="btn btn-default" id='login'>Login</button>
                    <input type = 'hidden' value="{{dataValues.id}}" id = 'id'>
                </div>
        </div>
    </div>