<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Party Requests</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Party Requests</h5>
            <p class="card-text">Please enter any game, activity, craft, snack, and/or beverage ideas or requests you may have for the party.</p>
            <textarea class="request" id="partyRequest" rows="3"></textarea>
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>

	{{{ body }}}
</body>
</html>