<div class="head">
        <div class="container">
            <h1 class="title">Request Items for {{dataValues.name}} Party</h1>
                <p class="text">Please enter any game, activity, craft, snack, and/or beverage ideas or requests you may have for the party.</p>
                    <label>Guest Name:</label>
                    <textarea class="Guest" id="guest" rows="1" name="guest"></textarea>
                    </br>
                    <label>Guest Request:</label>
                    <textarea class="Guest" id="request" rows="3" name='request'></textarea>
                    </br>
                    <button type = 'button' class="btn btn-primary" id="submitRsvpButton">Submit</button>
                    <input type = 'hidden' value="{{dataValues.id}}" id = 'id'>
                    </br>
                    <button type='button' class='btn btn-primary' id="planner">Planner Enter Here</button>
        </div>
    </div>